body{
  margin-bottom:100px;
}



#flash{
  position:fixed;
   right: 25px;
   bottom: 50px;
   width:300px;
   height:150px;
   border-radius:10px;
   padding:7px;

}

.navbar {
  background: #018179;
  border-bottom: black 1px solid;
  max-height: 55px;
  color: white;


}

.navbar2 {
  background: #7d7d7d;
  border-bottom: black 1px solid;
  max-height: 40px;
  color: white;

}

.navcontainer{
    position: fixed;
    z-index: 10;
    width: 100%;

}

.nav-link {
  color: white;

}

.Logo {
  top: 100px;

}

#shoppingcart ul li{
  color: black;
  font-size: 15px;
  display: inline-block;
  margin: 20px;

}

.colleft {
  text-align: right;

}

.colright {
  padding: 0px 20px;

}

#cart {
  background:  white;
  color: black;
  padding: 5px;
  margin: 5px;

}

.optionMenu {
  margin: 10px;
  padding: 10px;
  border: black 1px solid;
  border-radius: 5px;

}

#container3 {
  padding: 10px;

}

.container4 {
  padding: 65px;

}

.radio-btn {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-btn:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-btn input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-btn .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.container4 a{
  padding: 10px;

}

.container5 ul li{
  text-align: left;

}

#colom4 {
  max-width: 20%;
  float: right;
  text-align: left;
  margin: 10px;
  font-size: 60px;

}

#knop {
  color: black;
  font-size: 30px;
  padding: 0px;
  margin: 10px;

}

.beschrijving {
  color: black;
  font-size: 15px;

}

#prijs {
  color: black;
  font-weight: bold;

}

#loginBtn, #registerBtn,#navbarDropdown, #navbarDropdown2, #navbarDropdown7, #navbaritem, #navbaritem2 ,#navbaritem3, #navbaritem4 {
  color: white;

}

#loginBtn:hover, #registerBtn:hover, #navbarDropdown2:hover, #navbarDropdown7:hover, #navbaritem:hover, #navbaritem2:hover, #navbaritem3:hover, #navbaritem4:hover {
  color:  white;
  background: #a0a0a0;

}

.nav-item .dropdown-menu {
  top: 37px;

}

#dropdown-menu5, #dropdown-menu6, #dropdown-menu7, #dropdown-menu8, #dropdown-menu9, #dropdown-menu10, #dropdown-menu11, #dropdown-menu12, #dropdown-menu13  {
  top: -10px;
  left: 190px;

}

#navbarDropdownMenuLink {
  background: #f39200;
  color: white;
  font-weight: bold;

}

#dropdown1 {
  background: #f39200;
  float: right;
  border-bottom: black 1px solid;

}

#cart2 {
  background: #95ebe6;
  color: black;
  padding: 120px;

}

.overview {
  background: #95ebe6;
  padding: 10px;
  margin: 10px;
  max-width: 600px;
  border-radius: 10px;

}

#cart2 tr{
  padding: 10px;

}

#dropdown-menu4 {
  color: white;
  background: #f39200;
  float: right;
  top: 55px;
  overflow: scroll;
  max-height: 800px;


}

.Totaltable {
  float: right;

}


#winkelwagenBTN2 {
  color: black;
  background: #f39200;

}

#winkelwagenBTN2:hover {
  color: white;
  background: #f39200;

}

#inputlg {
  width: 600px;

}

.card-header {
  background: #018179;
  color: white;

}

.nav-item .select {
  border:  #f39200 2px solid;
  padding: 10px;
  color: white;
  background: #018179;

}

.custom-control custom-checkbox{
  height: 25px;
  width: 25px;
  background-color: #018179;
  color: white;

}

#selectvar {
  padding: 10px;
  background: white;

}

.dropdown-submenu:hover .dropdown-menu {display: block;}
/*
.dropdown:hover>#dropdown-menu1 {
  display: block;
} */

.dropdown:hover>#dropdown-menu2 {
  display: block;
}

.dropdown:hover>#dropdown-menu3 {
  display: block;
}

.dropdown:hover>#dropdown-menu4 {
  display: block;

}

.carousel ol li {
  width: 700px;
  height: inherit;
  top: 100px;

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;

}

.carousel-control-next-icon:after
{
  content: '❱';
  font-size: 25px;
  color: #018179;
  font-weight: bold;
}

.carousel-control-prev-icon:after {
  content: '❰';
  font-size: 25px;
  font-weight: bold;
  color: #018179;
}

.carousel-indicators img {
  border: #018179 1px solid;

}

.sr-only {
  background: #018179;

}

.search-box{
  position: fixed;
  overflow-y: scroll;
  margin-left: 40px;
  top: 100px;
  height: 85%;
  width: 9rem;
  background: white;
}



#SearchBtn {
  color: white;
  background: #f39200;
}

#colom2 {
  text-align: left;

}

li {
  list-style-type: none;

}

a {
  color: #018179;

}

.itemcount {
  border-radius: 20px;
  background: red;
  width: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 0px;
  position: absolute;
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  align-content: center;
  grid-gap: 10px;
  grid-auto-rows: 10px;
  color: white;
  background: #a0a0a0;
  padding: 10px;
  height: 200px;

}

.gridcontainer a{
    color: white;

}

.item1 {
  grid-column: 3;
  font-size: 12px;
  text-align: left;
}

.item2 {
  grid-column: 5;
  font-size: 12px;
  text-align: left;

}

.item3 {
  grid-column: 7;
  font-size: 12px;
  text-align: left;

}

.item4 {
  grid-column: 4;
  padding: 10px;
  margin: 10px;


}

.item4 a{
  padding: 10px;
  margin: 10px;

}

.ratingstar {
  display: inline-block;
  color: black;
  font-size: 20px;
  background: #018179;
  padding: 1px;
  margin: 2px;
  width: 30px;
  border-radius: 5px;

}

.link {
  padding: 10px;


}

.card {
  display: inline-block;

}

.reviews {
  text-align: left;

}

.table tr td{
  text-align: left;
  width: 800px
}

.price {
  color: black;
  background: #f39200;
  height: 100px;
  width: 100px;
  padding: 27px 15px;
  font-weight: 900;
  border-radius: 50%;
  /* border-radius: 5px; */
  font-size: 30px;

}

.ratingstar2 {
  display: inline-block;
  font-size: 20px;
  color: #f39200;
  background: #018179;
  padding: 1px;
  margin: 2px;
  width: 30px;
  border-radius: 5px;

}

.container2 {
  font-size: 12px;
  color: white;
  background: #018179;

}

.container2  a{
  color: white;

}

#winkelwagenBTN {
  width: 500px;

}

footer {
  padding: 10px;
  width: 100%;
  bottom: 0;
  /* position: fixed; */
  margin: auto;

}

.btn {
  background: #018179;
  color: white;

}

.dropdown-submenu {
  position: relative;

}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }
}
